<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <profiles>
   <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases/>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>jboss-public-plugin-repository-group</id>
          <url>https://repository.jboss.org/nexus/content/groups/public</url>
        </pluginRepository>
      </pluginRepositories>
      <id>jboss-public-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>fusesouce-public-repository-group</id>
          <name>FuseSource Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/fs-public/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <id>fusesouce-public-plugin-repository-group</id>
          <name>FuseSource Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/fs-public/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>fuse-public-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases/>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>redhat-techpreview-all-repository</id>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases/>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>redhat-techpreview-all-repository</id>
          <url>http://maven.repository.redhat.com/techpreview/all/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>redhat-techpreview-repository</id>
    </profile>
  <profile>
      <id>redhat-ga-repository</id>
      <repositories>
        <repository>
          <id>redhat-ga-repository</id>
          <name>Red Hat GA repository</name>
          <url>http://maven.repository.redhat.com/ga/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>redhat-ga-repository</id>
          <name>Red Hat GA repository</name>
          <url>http://maven.repository.redhat.com/ga/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>daily</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>redhat-techpreview-repository</activeProfile>
    <activeProfile>redhat-ga-repository</activeProfile>
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>
</settings>
